
body{
    margin: 0;
    padding: 0;
    max-width:100%;
    height : auto;
}
#header{
    background-color: #c8c8c8;
    height: auto;
    width: auto;
    margin: 0;
    padding: 134px 20px;
    text-align: center;
}
#container{
    max-width:1024px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px
}
.logo{

    margin:0 auto;


}
img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
h1{
    font-family: lato;
    font-size: 24px;
    font-weight:400;
    text-align: center;
    margin-top: 79px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform:uppercase ;
    line-height: 27px;
}
h2{
    font-family: lato;
    font-size: 14px;
    font-weight:600;
    text-align: center;
    margin:0 auto 0px;
    text-transform: uppercase ;
    color:#fba81b;

}
h3{
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 37%;
    margin:40px auto 0px;


}

p{
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 40%;
    margin:0 auto;


}
a{
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #fba81b;
    text-transform:uppercase ;
    text-decoration: none;

}
.questions{
    line-height: 24px;
}
#websites {
    text-align: center;
    margin: 72px auto;
}

.gleason {
    background: url("images/links.png") 0 0;
    height: 85px;
    width: 138px;
    display: inline-block;
}

.pierpont {
    background: url("images/links.png") -139px 0;
    height: 88px;
    width: 189px;
    display: inline-block;
}

.wheatfield {
    background: url("images/links.png") -328px 0;
    height: 88px;
    width: 189px;
    display: inline-block;

}

.briardale {
    background: url("images/links.png") -520px -7px;
    height: 81px;
    width: 124px;
    display: inline-block;
}


@media screen and (max-width: 768px) {
    #container{
        max-width:360px;
    }
    .pierpont{
        background: url("images/links.png") -163px 0;
        height: 88px;
        width: 150px;

    }
    .wheatfield {
        background: url("images/links.png") -355px 0;
        height: 88px;
        width: 144px;
        display: inline-block;
    }
    .briardale {
        background: url("images/links.png") -520px -7px;
        height: 81px;
        width: 124px;
        display: inline-block;
    }
    h3{
        width: auto;
    }
    p{
        width:auto;
    }
}



